$primary: #1c34ff;
$primary-light: #dee6ff;
$primary-dark: #0a1283;
$secondary: #00fed3;
$secondary-light: #b4fff6;
$accent: #0ba5fb;
$info: #b4b4b4;
$gray-900: #202020;
$gray-800: #5b5b5b;
$gray-700: #939393;
$gray-600: #b6b6b6;
$gray-500: #d4d4d4;
$gray-400: #e3e3e3;
$gray-300: #f0f0f0;
$dark: #333;
$white: #fff;

// Fonts
$font-family-base: "Montserrat", sans-serif;
$font-weight-base: 300;

$headings-font-family: "Poppins", sans-serif;
$headings-font-weight: 700;

// Accordion
$accordion-bg: $gray-300;
$accordion-border-width: 0;
$accordion-border-radius: 0;
$accordion-button-active-bg: $gray-300;
$accordion-button-active-color: $gray-900;
$accordion-button-focus-box-shadow: none;

// Badge
$badge-color: $accent;

// Buttons
$btn-font-family: $headings-font-family;
$btn-font-weight: $headings-font-weight;
$btn-padding-x: 20px;
$btn-border-radius: 100px;

$btn-padding-x-lg: 30px;
$btn-border-radius-lg: $btn-border-radius;

$btn-padding-x-sm: 20px;
$btn-border-radius-sm: $btn-border-radius;

// Cards
$card-color: $gray-900;
$card-border-color: $primary;

// Carousel
$carousel-caption-width: 100%;
$carousel-caption-padding-y: 20px;
$carousel-caption-spacer: 0;

// Components
$box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
$border-radius: 8px;
$border-radius-lg: 12px;
$border-color: $gray-300;

// Forms
$form-label-margin-bottom: 3px;
$input-bg: $gray-300;
$input-border-radius: 0;

// Navs
$navbar-light-color: $white;
$navbar-light-hover-color: $secondary;
$navbar-light-active-color: $secondary;

// Typography
$font-weight-bolder: 700;

// $transition-duration: 0.15s !default;
// $transition-timing-function: ease-in-out !default;
// $grid-gutter-width: 1.5rem !default;
// $grid-columns: 12 !default;
// $grid-column-width: calc(100% / $grid-columns) !default;
